<%= form_for @task do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@task.errors.count, "error") %>.
      </div>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, '名前', class: 'form-label' %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :content, '詳細', class: 'form-label' %>
  <%= f.text_area :content, class: 'form-control' %>

  <%= f.submit '作成', class: 'btn btn-primary' %>
<% end %>
